extends layout

block content
  .row
    .col-md-10
      h3 Contracts
  .row
    .col-md-12
      .table-responsive
        table.table
          tr
            th Address
            th Balance
          for account in accounts
            tr
              td
                a(href="/address/" + account.address) #{nameformatter.format(account.address)}
              td #{tokenformatter.format(account.balance)}
    .row
      a.btn.btn-default(href="/contracts/" + lastAccount) Next Page
